<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Log4Net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>

  <log4net>
    <appender name="VerboseFileLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log\TwitterAnalyzer" />
      <datePattern value="'.'yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%t] %logger - %message%newline" />
      </layout>
    </appender>
    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="VerboseFileLog" />
    </root>
  </log4net>
  
  <system.web>
    <httpHandlers>
      <add type="TwitterAnalyzer.Service, TwitterAnalyzer" verb="*" path="sentiment" />
    </httpHandlers>
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="twitteranalyzer-ISAPI-2.0" path="sentiment" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
    </handlers>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
